@model CEIDGASPNetCore.DbModel.Gusvalue

<h2>@Html.Label("Raport nie został znaleziony")</h2>


@Html.Label("Wartość błędu: ")
@Html.LabelForModel(Model.Xmlvalues)

<div>
    <a asp-action="Index">Wróć do menu</a>
</div>
