@model CEIDGASPNetCore.Models.DanePobierzPelnyRaport

@{
    ViewData["Title"] = "Pelny Raport";
}

<h1>Wyświetl pełny raport</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("InsertPelnyRaport", "CEIDG", FormMethod.Post))
        {
            <div class="form-group">
                <label asp-for="Regon" class="control-label"></label>
                @Html.TextBoxFor(item => item.Regon, new {@class="form-control", @type = "number"})
                <span asp-validation-for="Regon" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NazwaRaportu" class="control-label"></label>
                @Html.DropDownListFor(item => item.NazwaRaportu, new SelectList(ViewBag.RaportsList, "NazwaRaportu","Opis"), new {@class="form-control"})
                <span asp-validation-for="NazwaRaportu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-secondary">Wybierz</button>
            </div>
        }
    </div>
</div>
<div>
    <a asp-action="Index">Wróć do menu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}