@model JustTalk.justTalkModels.User;

@{
    ViewData["Title"] = "Chyba się udało lol";
}

<h1>Chyba się udało lol</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SignUpSucc" asp-controller="Account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                @Html.LabelFor(m => m.Nick)
                @Html.TextBoxFor(m => m.Nick, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

