@model CEIDGASPNetCore.Models.DanePobierzRaportZbiorczy

@{
    ViewData["Title"] = "Raport Zbiorczy";
}

<h1>Wyświetl raport zbiorczy</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertRaportZbiorczy">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataRaportu" class="control-label"></label>
                <input asp-for="DataRaportu" class="form-control" />
                <span asp-validation-for="DataRaportu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NazwaRaportu" class="control-label"></label>
                <input asp-for="NazwaRaportu" class="form-control" />
                <span asp-validation-for="NazwaRaportu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do opcji</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
