@model CEIDGASPNetCore.DbModel.Gusvalue

@{
    ViewData["Title"] = "Zmienianie daty raportu";
}

<h1>Zmień datę raportu</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateRaportData">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Xmlvalues" class="control-label"></label>
                <input asp-for="Xmlvalues" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="ImportDate" class="control-label"></label>
                <input asp-for="ImportDate" type="date" class="form-control" />
                <span asp-validation-for="ImportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RaportType" class="control-label"></label>
                <input asp-for="RaportType" class="form-control" readonly="readonly"/>
                <span asp-validation-for="RaportType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-secondary">Wybierz</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

