<h2>Wszystkie opcje, wyszukiwania wybranych raportów</h2>


<dl class="row">
    <dd class="col-sm-10">
        @Html.ActionLink("Ostatni raport", "ViewLastRaport")
    </dd>
    <dt class="col-sm-10">
        @Html.Label("Wyszukaj raport po ")
    </dt>
    <ul>
        <li>
            @Html.ActionLink("dacie", "ViewRaportByData")
        </li>
        <li>
            @Html.ActionLink("dacie i typie", "ViewRaportByDateAndType")
        </li>

    </ul>
</dl>