<h2>Opcje główne programu, obsługującego GUS</h2>




<dl class="row">
    <dd class="col-sm-10">
        @Html.ActionLink("Podmioty", "InsertDaneSzukajPodmioty")
    </dd>
    <dd class="col-sm-10">
        @Html.ActionLink("Pełny raport", "InsertPelnyRaport")
    </dd>
    <dd class="col-sm-10">
        @Html.ActionLink("Zbiorczy raport", "InsertRaportZbiorczy")
    </dd>
</dl>