@model CEIDGASPNetCore.Models.DaneSzukajPodmiotyModel

@{
    ViewData["Title"] = "Szukaj Podmioty";
}

<h1>Wyświetl Podmioty</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertDaneSzukajPodmioty">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Regon" class="control-label"></label>
                <input asp-for="Regon" class="form-control" />
                <span asp-validation-for="Regon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NIP" class="control-label"></label>
                <input asp-for="NIP" class="form-control" />
                <span asp-validation-for="NIP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KRS" class="control-label"></label>
                <input asp-for="KRS" class="form-control" />
                <span asp-validation-for="KRS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Wybierz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do menu</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
