@model PaperStore.WareHouseData.CurrentStock

@{
    ViewData["Title"] = "UpdateItem";
}

<h1>Zmień produkt</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                @Html.DisplayName("Ilość")
                <input asp-for="Qty" class="form-control" placeholder="Wpisz ilość, np 5"/>
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ProductName" />
            </div>
            <div class="form-group">
                @Html.DisplayName("Informacja dodatkowa")
                @Html.DropDownListFor(item => item.AddtionalInfoId, new SelectList(@ViewBag.AdditionalInfo, "Id", "AdditionalInfo"))
                <span asp-validation-for="AddtionalInfoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="InputData" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="UpdateData" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Archive" />
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-outline-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"> <input type="submit" value="Wróć do listy" class="btn btn-outline-info" /></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
